<html>   
    <head>   
       <title>任务调度系统(编辑页)</title>
    </head>   
    <body>   
        <div id="header">#parse('common/header.vm')</div>   
        <div id="content">   
            <div id="sub">#parse($sub)</div>   
            <div id="main">$screen_content</div>   
        </div>
        <div id="footer">#parse('common/footer.vm')</div>   
    </body>   
</html>