<html>   
    <head>   
       <title>任务调度系统</title>
		<link rel="stylesheet" type="text/css" media="screen" href="./components/jqgrid/css/ui-lightness/jquery-ui-1.7.2.custom.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="./components/jqgrid/css/ui.jqgrid.css" />
	   <script src="./components/jqgrid/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
	   <script src="./components/jquery/jquery-1.3.2.min.js" type="text/javascript"></script>
	   <script src="./components/jqgrid/js/i18n/grid.locale-cn.js" type="text/javascript"></script>
	   <script src="./components/jqgrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
	   <script type="text/javascript" src="./components/jquery/jquery.easing.min.js"></script>
	   <script type="text/javascript" src="./components/jquery/jquery.lavalamp.min.js"></script>
	   <script src="./components/jquery/jquery.blockUI.js" type="text/javascript"></script>
    </head>
    <body>  
        <div id="header">#parse('common/header.vm')</div>   
        <div id="content">   
            <div id="sub">#parse($sub)</div>   
            <div id="main">$screen_content</div>   
        </div>
        <div id="footer">#parse('common/footer.vm')</div>   
    </body>   
</html>