<div class="hero-unit">
  <h1>等待处理</h1>
  <p>
  	 <ul>
    	<li><a href="#">编号234343434抵达成都 	 2013-4-5 12：34</a></li>
    	<li><a href="#">商品343143434抵达奥斯汀 2013-4-5 12：34</a></li>
    	<li><a href="#">等待购买1343434商品 	 2013-4-5 12：34</a></li>
     </ul>
  </p>
  <p><a class="btn btn-primary btn-large">进入处理 &raquo;</a></p>
</div>
<div class="row">
  <div class="span3">
    <h2>最近用户</h2>
    <p>
    	<ul>
    		<li><a href="#">用户1 	客户 	2013-4-5 12：34</a></li>
    		<li><a href="#">用户2 	管理员 	2013-4-5 12：34</a></li>
    		<li><a href="#">用户3 	卖家 	2013-4-5 12：34</a></li>
    	</ul>
    </p>
    <p>
    	<a class="btn" href="#">详细记录 &raquo;</a>
    </p>
  </div>
  <div class="span4">
    <h2>最近商品</h2>
    <p>
    	<ul>
    		<li><a href="#">商品1 	$13.34 		2013-4-5 12：34</a></li>
    		<li><a href="#">商品2 	$14.14 		2013-4-5 12：34</a></li>
    		<li><a href="#">商品3 	$100.20 	2013-4-5 12：34</a></li>
    	</ul>
    </p>
    <p><a class="btn" href="#">详细记录 &raquo;</a></p>
 </div>
  <div class="span5">
    <h2>活跃买家</h2>
    <p>
    	<ul>
    		<li><a href="#">买家1 	消费-$13.34 总消费-$1000.34 		2013-4-5 12：34</a></li>
    		<li><a href="#">买家2 	消费-$14.14 总消费-$1023.34		2013-4-5 12：34</a></li>
    		<li><a href="#">买家3 	消费-$100.20 总消费-$600.34 	2013-4-5 12：34</a></li>
    	</ul>
    </p>
    <p><a class="btn" href="#">详细记录 &raquo;</a></p>
  </div>
</div>

<hr>

<footer>
  <p>&copy; Company LiveforEver by Sillycat 2013</p>
</footer>