<link href="../css/loginTemplate.css" rel="stylesheet">

<div class="row">
    <h1>&nbsp;</h1>
</div>

<form class="form-signin" id="userLoginForm">
    <h2 class="form-signin-heading">欢迎登陆卖家管理系统</h2>
    <input type="text" class="input-block-level" name="email" placeholder="注册邮箱">
    <input type="password" class="input-block-level" name="password" placeholder="密码">
    <label class="checkbox">
        <input type="checkbox" value="remember-me">永久记住密码
    </label>
    <button class="btn btn-large btn-primary" type="submit" id="logonSystem">登陆</button>
</form>