#set($layout = "layout/layout_edit.vm")   
#set($sub= "common/menu.vm")
<h1>新增任务</h1>

<form action="job.do?method=save" method="post" >
<table>
	<tr>
		<td>
			任务名称：
		</td>
		<td>
			<input type="text" name="jobName" value="任务的中文名称" />
        </td>
	</tr>
	<tr>
		<td>
			任务标示符：
		</td>
		<td>
			<input type="text" name="groovyFileName" value="groovy文件名字" size="20" />
        </td>
	</tr>
	<tr>
		<td cols="2">
			内置示例：GroovyServiceSimple.groovy<br />
		</td>
	</tr>
	<tr>
		<td cols="2">
			<input type="submit" name="提交" value="提交" />
        </td>
	</tr>
</table>
</form>
