<div class="row">
    <h1>&nbsp;</h1>
</div>

<h1 align="left"><%= item ? '修改' : '添加' %>商品</h1>

<form class="form-horizontal" id="editForm">
    <input type="hidden" name="productDesn" value="dsf">
    <input type="hidden" name="createDate" value="2012-05-22 13:33">
    <input type="hidden" name="expirationDate" value="2012-05-22 13:33">
    <input type="hidden" name="productCode" value="asdfasdf">


    <div class="control-group">
        <label class="control-label" for="inputWarning">商品名称</label>
        <div class="controls">
            <input type="text" id="inputWarning" name="productName" value="<%= item ? item.get('productName') : '' %>">
            <span class="help-inline"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputError">商品单价（美元）</label>
        <div class="controls">
            <input type="text" id="inputError">
            <span class="help-inline"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputInfo">商品成本价格（人民币）</label>
        <div class="controls">
            <input type="text" id="inputInfo">
            <span class="help-inline"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="inputSuccess">商品售价（人民币）</label>
        <div class="controls">
            <input type="text" id="inputSuccess">
            <span class="help-inline"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="weight">商品重量</label>
        <div class="controls">
            <input type="text" id="weight">
            <span class="help-inline"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="moneyWin">商品毛利（人民币）</label>
        <div class="controls">
            <input type="text" id="moneyWin">
            <span class="help-inline"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="productLink">商品链接</label>
        <div class="controls">
            <input type="text" id="productLink">
            <span class="help-inline"></span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="productDesn">商品描述</label>
        <div class="controls">
            <textarea class="span7" rows="6" id="productDesn"></textarea>
            <span class="help-block"></span>
        </div>
    </div>

    <div class="form-actions controls-row">
        <button type="submit" class="btn btn-primary btn-large span2">保存</button>
        <button type="button" class="btn btn-small span1">取消</button>
    </div>
</form>