<div class="row">
<h1>&nbsp;</h1>
</div>

<h1 align="left">计划商品</h1>

<form class="form-search">
   <input type="text" class="input-large search-query" placeHolder="商品名称(模糊)">
   <input type="text" class="input-mini" placeHolder="价格从...">
   <input type="text" class="input-mini" placeHolder="价格到...">
   <button type="submit" class="btn">Search</button>
</form>

<table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>商品名称</th>
            <th>商品单价（美元）</th>
            <th>商品成本价格（人民币）</th>
            <th>商品售价（人民币）</th>
            <th>商品重量</th>
            <th>商品毛利（人民币）</th>
            <th>商品链接</th>
        </tr>
        </thead>
        <tbody>
        <% items.each( function(item){ %>
        <tr>  <!-- class, error success info -->
            <td><a href="#product/edit/<%= item.get('id') %>"><%= item.get('productName') %></a></td>
            <td>$<%= item.get('productPriceUS') %></td>
            <td>￥<%= item.get('productPriceCN') %></td>
            <td>￥<%= item.get('productSellingPriceCN') %></td>
            <td><%= item.get('productWeight') %> Pound</td>
            <td>￥<%= item.get('productWin') %></td>
            <td><% if(item && item.get('productLink') != '') { %>
                <a href="<%= item.get('productLink') %>" target="_blank">链接</a>
                <% } %>
            </td>
        </tr>
        <% }); %>
        </tbody>
</table>
<div class="pagination agination-small pagination-right">
  <ul>
    <li class="disabled"><a href="#productsPlan"><<</a></li>
    <li class="active"><a href="#productsPlan">1</a></li>
    <li><a href="#productsPlan">2</a></li>
    <li><a href="#productsPlan">3</a></li>
    <li><a href="#productsPlan">>></a></li>
  </ul>
</div>